# Файлы виртуального окружения
venv/
.venv/
env/

# Файлы IDE и кеша
.idea/
__pycache__/
*.pyc

# Файл с переменными окружения
.env

# Логи и другие временные файлы
*.log

# Базы данных SQLite
*.db
*.db-journal # Файлы журнала SQLite

# Системные файлы macOS
.DS_Store

media/

# Файлы архитектуры и описания (уже добавлены пользователем)
architecture.md
description.md
my-deploy-instruction.md