# Файлы виртуального окружения
venv/
.venv/
env/

# Файлы IDE и кеша
.idea/
__pycache__/
*.pyc

# Файл с переменными окружения
.env

# Логи и другие временные файлы
*.log 

# файлы архитектура и описание
architecture.md
description.md