# Файлы виртуального окружения
venv/
.venv/
env/

# Файлы IDE и кеша
.idea/
__pycache__/
*.pyc

# Файл с переменными окружения
.env

# Логи и другие временные файлы
*.log

# Системные файлы macOS
.DS_Store

# Медиафайлы 
media/

# Файлы архитектуры и описания (уже добавлены пользователем)
architecture.md
description.md
my-deploy-instruction.md